.content {
    margin-bottom: 2rem;
}

.pleasure__header {
    margin-bottom: 3rem;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.content__flex {
    display: flex;
    justify-content: right;
    align-items: center;
}

.content__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}