.header {
    background-color: white;
}

.header__inner {
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.header__two__inner {
    margin: 0 0 2rem;
}

.header__text {
    font-weight: 600;
    font-size: 24px;
}

.header__btn {
    margin: auto 0;

    padding: 18px 52px;

    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: white;
    background: $gradient;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: background .2s linear;

    &:hover {
        background: linear-gradient(180deg, #d32a2a 0%, rgba(0, 0, 0, 0) 100%), #1b0807;
    }
}

.header__footer {
    margin-bottom: 1rem;
}