.wifes {
    margin-bottom: 2rem;
}
.wifes__inner {
    padding: 45px;
    background: $dark_red;
    border-radius: $radius_sm;
}

.wifes__border {
    border: 2px solid white;
    border-radius: $radius_sm;
}

.wifes__title {
    margin-top: 1rem;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: white;

    & span {
        font-weight: bold;
    }
}

.wifes__title__two {
    font-size: 36px;
    margin-bottom: 2rem;

    line-height: 44px;
}

.wifes__flex {
    display: flex;
    justify-content: space-around;
}

.wifes__flex__item {
    position: relative;
    margin: 20px;
    
    & img {
        width: 340px;
        border-radius: $radius_sm;
        box-shadow: 0 0 8px 3px rgba(255, 255, 255, .6);
    }
}
   

.wifes__flex__title {
    position: absolute;
    left: 30%;
    top: 50%;
}

.wifes__flex__title__two {
    position: absolute;
    left: 5%;
    top: 50%;
}