<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <div class="page">
        <!-- Header -->
        {{> header }}

        <!-- Main -->
        {{> main }}

        <!-- Main-Content -->
        {{> content }}

        <!-- Wifes -->
        {{> wifes }}

        <!-- Main-Content-2 -->
        {{> content-2 }}

        <!-- Advert -->
        {{> advert }}

        <!-- Main-Content-3 -->
        {{> content-3 }}

        <!-- Footer -->
        {{> footer }}

        <!-- Recipe -->
        {{> recipe }}

        

    <script src="assets/js/app.js"></script>
</body>
</html>