<header class="header">
    <div class="container">
        <div class="header__inner header__two__inner">
            
            <div class="header__text">
                Сила Султана разработана на основе древнетурецких рецептов, которые <br>
                описаны еще в старинных преданиях летописцев-монахов. Вы почувствуете <br>
                себя настоящим повелителем!
            </div>

            <img src="../../assets/img/advert/drug.png" alt="">
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>

<main class="wifes">
    <div class="container">
        <div class="wifes__inner">
            <div class="wifes__border">
                <h1 class="wifes__title wifes__title__two">Как <span>Сила Султана</span> борется с <br>проблемой?</h1>

                <div class="wifes__flex">
                    <div class="main__drug">
                        <div class="main__circle main__circle__advert"><img src="../../assets/img/main/circle.png" alt="">
                            <div class="main_circles"><img src="../../assets/img/advert/circles.png" alt=""></div>
                            <div class="main_lightning"><img src="../../assets/img/main/lightning.png" alt=""></div>
                            <div class="advert__tablets"><img src="../../assets/img/advert/tablets.png" alt=""></div>
                            <div class="advert__tablet"><img src="../../assets/img/advert/tablet.png" alt=""></div>
                        </div>
                        <ul class="main__votes">
                            <li class="advert__vote__one"> 
                                <div class="main__vote__content">Стимулирует <br>естественную <br>выработку <br>тестостерона</div>
                                <div><img src="../../assets/img/main/vote.png" alt=""></div>
                            </li>

                            <li class="advert__vote__two"> 
                                <div class="main__vote__content advert__vote__content">Обеспечивает <br>стойкую и <br>твердую эрекцию</div>
                                <div><img src="../../assets/img/main/vote.png" alt=""></div>
                            </li>

                            <li class="advert__vote__three"> 
                                <div class="main__vote__content">Пробуждает <br>сильное <br>сексуальное <br>желание </div>
                                <div><img src="../../assets/img/main/vote.png" alt=""></div>
                            </li>

                            <li class="advert__vote__four"> 
                                <div><img src="../../assets/img/main/vote.png" alt=""></div>
                                <div class="main__vote__content advert__vote__content">Повышает <br>либидо и <br>решительность</div>
                            </li>

                            <li class="advert__vote__five"> 
                                <div><img src="../../assets/img/main/vote.png" alt=""></div>
                                <div class="main__vote__content advert__vote__content">Усиливает <br>ощущения</div>
                            </li>

                            <li class="advert__vote__six"> 
                                <div><img src="../../assets/img/main/vote.png" alt=""></div>
                                <div class="main__vote__content advert__vote__content">Увеличивает <br>продолжительность <br>полового акта </div>
                            </li>
                        </ul>
                    </div><!-- /.main__drug -->
                </div>
            </div>
        </div>
    </div>
</main>