<main class="content content__three">
    <div class="content__flex content__three__flex">
        <img class="content__img" src="../../assets/img/content/office.jpg" alt="">
        <div class="content__text  content__text__three">
            Наши врачи несколько лет работали в <br>
            Турции, собирая секретные ингредиенты <br>
            древнетурецких средств для повышения <br>
            потенции. Мы запатентовали <span>Силу Султана</span>, <br>
            получили официальное право производить <br>
            и реализовывать препарат по России и в <br>
            странах СНГ. Все подтверждающие <br>
            документы и лицензии в электронном виде <br>
            расположены на странице нашего сайта. 
        </div>
    </div>
</main>