<main class="content">
    <div class="content__flex content__two__flex">
        <div class="content__text">
            <span>Сила Султана</span> решает проблему комплексно, <br>
            а не просто временно устраняет синдромы<br><br>
            Рекомендован врачами для лечения, <br>
            профилактики и получения новых <br>
            ощущений<br>
            Никаких побочных эффектов и негативного <br>
            воздействия на организм.
        </div>
        <img class="content__img" src="../../assets/img/content/docs.jpg" alt="">
    </div>
</main>

