<main class="content">
    <div class="content__pleasure">
        <h1 class="pleasure__header">Получите такое же удовольствие в <br>постели, как султан от своего гарема!</h1>
    </div>
    <div class="content__flex">
        <div class="content__text">
            Какие ассоциации возникают при <br>
            упоминании гарема? Красивые девушки, <br>
            сидящие на софах. Сауны, где наложницы <br>натирают себя ароматическими смесями. <br>
            Битва, в которой сотни красавиц сражаются <br>
            за внимание повелителя. <br><br>
            Такие же ощущения вы испытаете после <br>
            приема Силы Султана!
        </div>
        <img class="content__img" src="../../assets/img/content/sultan.jpg" alt="">
    </div>
</main>

