<div class="footer">
    <img src="../../assets/img/main/women.jpg" alt="">
    <div class="left__shadow"><img src="../../assets/img/main/left-shadow.png" alt=""></div>
    <div class="bottom__shadow"><img src="../../assets/img/main/bottom-shadow.png" alt=""></div>
    <div class="center__shadow"><img src="../../assets/img/main/center-shadow.png" alt=""></div>
    <div class="med__circles"><img src="../../assets/img/main/medium-circles.png" alt=""></div>
    <div class="sm__circles"><img src="../../assets/img/main/sm-circles.png" alt=""></div>
    <div class="pattern__footer"><img src="../../assets/img/main/pattern-footer.png" alt=""></div>
    
    <div class="footer__content">
        <h1 class="footer__header">Хочешь почувствовать себя <br>настоящим султаном <br>в постели?</h1>
        <div class="big__circle">
            <img src="../../assets/img/main/big-circle.png" alt="">
            <div class="big__drug">
                <img src="../../assets/img/main/big-drug.png" alt="">
            </div>
        </div>
    </div>

    <form class="form form__footer">
        <div class="form__inside">
            <div class="form__title">
                Успей получить <span>Силу Султана бесплатно*</span>, пока действует акция
            </div>

            <div class="time">
                <div class="time__title">Акция* закончится через</div>

                <div class="time__items">

                    <div class="time__item">
                        <div class="clock clock__hours">
                            01
                        </div>
                        <center>Часов</center>
                    </div>
                    <div class="colon">:</div>

                    <div class="time__item">
                        <div class="clock clock__minutes">
                            07
                        </div>
                        <center>Минут</center>
                    </div>
                    <div class="colon">:</div>
                    
                    <div class="time__item">
                        <div class="clock clock__seconds">
                            25
                        </div>
                        <center>Секунд</center>
                    </div>

                </div><!-- /.time__items -->
            </div><!-- /.time -->

            <div class="form__dialog">
                <div>Ваше имя*</div>
                <input class="form__input" id="name" name="name" type="text" required="">
                <div>Контактный телефон*</div>
                <input class="form__input phone-black" id="phone" name="phone" type="text">
                <button class="form__button">ЗАКАЗАТЬ ПРЕПАРАТ <br>БЕСПЛАТНО</button>
            </div form__input>

            <div class="form__note"><span>*при заказе курса </span><br>Осталось всего 23 бесплатных <br>упаковок</div>
        </div>
    </form>
</div>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="footer__inner">
                <div>
                    <img src="../../assets/img/main/tablet-big.png" alt="">
                    <img src="../../assets/img/main/tablet-sm.png" alt="">
                </div>
                <div class="footer__text">
                    Каждая таблетка – это мощный комплекс <br>
                    <b>100%</b> натуральных компонентов.
                </div>
            </div>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>