<div class="recipe">
    <div class="container">
        <div class="recipe__flex">

            <div class="recipe__item">
                <img class="zhen" src="../../assets/img/recipe/zhen.png" alt="">
                <h1 class="recipe__header">Корень женьшеня <br>обыкновенного</h1>
                <div class="recipe__content">
                    Повышает половое влечение, восполняет дефицит <br>
                    витаминов. Увеличивает синтез тестостерона, 
                    <br>усиливает приток крови к члену, что обеспечивает <br>
                    стойкую и продолжительную эрекцию.
                </div>
            </div>

            <div class="recipe__item">
                <img class="muira" src="../../assets/img/recipe/muira.png" alt="">
                <h1 class="recipe__header">Экстракт коры <br>муира пуама</h1>
                <div class="recipe__content">
                    Улучшает качество спермы и подвижность <br>
                    сперматозоидов. Поддерживают необходимый <br>
                    уровень тестостерона.
                </div>
            </div>
        </div>

        <div class="recipe__flex">

            <div class="recipe__item">
                <img class="root" src="../../assets/img/recipe/root.png" alt="">
                <h1 class="recipe__header">Корень эврикомы <br>длиннолистной</h1>
                <div class="recipe__content">
                    Сильный афродизиак, повышает сексуальное <br>
                    влечение и положительно влияет на качество <br>
                    полового акта. Улучшает выносливость и физическую <br>
                    активность.
                </div>
            </div>

            <div class="recipe__item recipe__item__asai">
                <img class="asai" src="../../assets/img/recipe/asai.png" alt="">
                <h1 class="recipe__header">Ягоды <br>асаи</h1>
                <div class="recipe__content">
                    Растительный аналог «Виагры»: способствует стойкой <br>
                    эрекции, усиливает сексуальное возбуждение и <br>
                    пролонгирует ощущения во время оргазма.
                </div>
            </div>
        </div>
    </div>
</div>