<main class="wifes">
    <div class="container">
        <div class="wifes__inner">
            <div class="wifes__border">
                <h2 class="wifes__title">Как на Востоке справлялись <span> с <br>многоженством?</span></h2>
            <div class="wifes__flex">
                <div class="wifes__flex__item">
                    <img src="../../assets/img/content/first.jpg" alt="">
                    <h3 class="wifes__flex__title">СЕКСУАЛЬНЫЕ <center>ОБРЯДЫ</center></h3>
                </div>
                <div class="wifes__flex__item">
                    <img src="../../assets/img/content/second.jpg" alt="">
                    <h3 class="wifes__flex__title wifes__flex__title__two">НАТУРАЛЬНЫЕ СТИМУЛЯТОРЫ <center>сексуальной активности</center></h3>
                </div>
                <div class="wifes__flex__item">
                    <img src="../../assets/img/content/third.png" alt="">
                    <h3 class="wifes__flex__title"><center>ИНТИМНАЯ</center>ГИМНАСТИКА</h3>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>